<h1>Forgot Password</h1></br>
<p>Enter your username below to send an SMS to your account number with directions on how to reset your password.</p>

<div>
  <%= form_for(:password_reset, url: password_resets_path) do |f| %></br>
    <%= f.label :username %></br>
    <%= f.text_field :username %>

    <%= f.submit "Submit" %>
  <% end %>
</div>
