<%= link_to "Edit", edit_pin_path(@pin) %>
<section class="pin">
  <%= image_tag(@pin.image_url) %>
  <h4> <%= @pin.description %> </h4>
</section>
<%= link_to "Show Comments", new_pin_comment_path(@pin) %>
