<%= render partial: 'shared/user' %>

<% @followers.each do |f| %>
  <%= link_to registered_user_path(@user.username) do %>
    <section class="follower">
      <%= f.name %>
    </section>
  <% end %>
<% end %>
