<div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
  <% if current_user == @user %>
    <%= link_to 'New Board', new_registered_users_board_path(@user.username) %>
  <% end %>
    <% @boards.each do |board| %>
    <div class="box col3">
      <section class="board">
        <% if current_admin %>
          <%= link_to "Delete", admin_board_path(board), method: :delete %>
        <% end %>
        <% if current_user == @user %>
          <%= link_to "Edit", registered_users_edit_board_path(@user.username, board.name) %>
        <% end %>
        <%= board.name %>
      </section>
    </div>
    <% end %>
</div>
