<% @boards.each do |board| %>
  <section class="board">
    <% if current_admin %>
      <%= link_to "Delete", admin_board_path(board), method: :delete %>
    <% end %>
    <%= board.name %>
  </section>
<% end %>
