<% @followings.each do |followee| %>
  <% followee.pins.each do |pin| %>
    <%= render partial: "shared/pin", locals: { pin: pin } %>
  <% end %>
<% end %>
<section class="home">
  <h1>Welcome to Pinspirations, the world's catalog of ideas</h1>
  <br>
  <h3>Account Profile for <%= @user.name %>:</h3>
  <ul>
    <li>Boards:</li>
    <li>Pins:</li>
    <li>Likes:</li>
  </ul>
</section>