<div id="masonry-container" class="masonry">
  <div class='grid-sizer'></div>
  <div class='grid'>
    <% @activity.each do |pin| %>
      <%= render partial: "shared/pin", locals: { pin: pin } %>
    <% end %>
  </div>
</div>
