<%= render partial: 'shared/user' %>
<section class="content">
  <div class='grid-sizer'></div>
  <div class='grid'>
    <% @pins.each do |pin| %>
      <%= render partial: "shared/pin", locals: { pin: pin} %>
    <% end %>
  </div>
</section>
