<h1>Password Reset</h1>

<%= form_for(@credential, :url => {:controller => 'passwords', :action => 'new_password'}) do |f| %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Update Password" %>

<% end %>
