.btn
  border-radius: 4px
  font-size: 15px
  border: none
  box-shadow: none

.btn-continue
  @extend .btn
  background-color: $brand-color
  width: 252px
  padding: 8px
  color: #fff
  font-weight: bold
  display: inline-block

.btn-google
  @extend .btn
  background-color: $google
  width: 252px
  padding: 8px
  color: #fff
  font-weight: bold
  display: inline-block

ul.board-pin-like
  display: block
  li
    display: inline
    font-weight: bold
    line-height: 18px
    font-size: 16px
    padding: 12px 16px
    border-radius: 100px
    background-color: white
    a
      text-decoration: none
      color: $med-light-gray
  li.active
    background-color: $light-gray
    a
      text-decoration: none
      color: $med-gray

.board ul li
  .btn-delete
    background-color: $light-gray
    text-decoration: none
    color: $med-gray
    border-radius: 4px
    font-size: 14px
    font-weight: bold
    padding: 10px 14px
    display: block
    width: 44px

  .btn-delete:hover
    background-color: $med-light-gray
    color: $med-dark-gray
