.btn
  border-radius: 4px
  font-size: 15px
  border: none
  box-shadow: none
  cursor: pointer
  font-weight: bold
  text-decoration: none

.btn-follow, .btn-unfollow
  @extend .btn
  position: absolute
  top: 200px
  left: 741px
  height: 15px
  width: 150px
  text-align: center
  padding: 10px 0px

.btn-follow, .btn-unfollow:hover
  background-color: $brand-color
  color: white

.btn-unfollow, .btn-follow:hover
  background-color: $light-gray
  color: $med-gray

.btn-follow-index, .btn-unfollow-index
  @extend .btn
  display: block
  text-decoration: none
  height: 15px
  width: 150px
  text-align: center
  padding: 10px 0px
  font-weight: bold
  margin: 0 auto

.btn-follow-index, .btn-unfollow-index:hover
  background-color: $brand-color
  color: white

.btn-unfollow-index, .btn-follow-index:hover
  background-color: $med-gray
  color: $light-gray

.btn-continue
  @extend .btn
  background-color: $brand-color
  width: 252px
  padding: 8px
  color: #fff
  display: inline-block

.btn-continue:hover
  background-color: $light-gray
  color: $med-gray

.btn-google
  @extend .btn
  background-color: $google
  width: 252px
  padding: 8px
  color: #fff
  display: inline-block

.btn-deactivate
  @extend .btn
  background-color: $med-red
  text-decoration: none
  color: white
  padding: 10px 14px
  display: block
  width: 140px
  margin-top: 20px
  margin-bottom: 20px

.btn-deactivate:hover
  color: $med-gray
  background-color: $light-gray

.btn-delete
  background-color: $light-gray
  color: $med-gray
  border-radius: 4px
  font-size: 14px
  padding: 10px 14px
  display: block
  width: 200px
  margin-top: 20px
  margin-bottom: 20px
  text-align: center

.btn-delete:hover
  background-color: $med-light-gray
  color: $med-dark-gray

.btn-cancel
  @extend .btn
  background-color: $light-gray
  color: $med-gray
  text-align: center
  padding: 10px 14px
  display: block
  width: 200px
  margin-top: 20px
  margin-bottom: 20px
  margin-left: 370px

.btn-cancel:hover
  background-color: $med-light-gray
  color: $med-dark-gray

.btn-login
  @extend .btn
  display: inline-block
  color: $dark-gray
  background-color: $light-gray
  border-radius: 4px
  text-decoration: none
  height: 15px
  padding: 10px 43px
  position: absolute
  margin-top: 10px
  text-align: center
  right: 25px
  top: 15px
  z-index: 2

.btn-edit
  @extend .btn
  background-color: $med-light-gray
  color: $med-dark-gray
  text-decoration: none
  padding: 10px
  float: right
  clear: right


.btn-wide
  display: block
  width: 100%

.btn-standard
  @extend .btn
  background-color: $light-gray
  color: $med-dark-gray
  text-decoration: none
  padding: 10px
  margin: 5px
  font-weight: 500

.btn-standard:hover
  background-color: $med-light-gray

ul.board-pin-like
  display: block
  li
    display: inline
    font-weight: bold
    line-height: 18px
    font-size: 16px
    padding: 12px 16px
    border-radius: 100px
    background-color: white
    a
      text-decoration: none
      color: $med-light-gray
  li:hover
    background-color: $light-gray
    a:hover
      color: $med-gray
  li.active
    background-color: $light-gray
    a
      text-decoration: none
      color: $med-gray

a.btn-delete
  @extend .btn
  background-color: $light-gray
  color: $med-gray
  padding: 10px 14px
  display: block
  width: 44px

.board ul li
  .btn-delete
    background-color: $light-gray
    text-decoration: none
    color: $med-gray
    border-radius: 4px
    font-size: 14px
    font-weight: bold
    padding: 10px 14px
    display: block
    width: 44px

.btn-delete:hover
  background-color: $med-light-gray
  color: $med-dark-gray
