form

.login
  background: url('food.jpg') no-repeat left center
  background-size: 400px 500px, cover
  border-radius: 6px
  width: 800px
  vertical-align: center
  position: absolute
  top: 40%
  left: 50%
  margin: -200px 0 0 -400px
  overflow: hidden
  height: 500px
  h2
    font-weight: 600
    color: #555
    font-size: 27px
  h4
    font-weight: 600
    color: #555
    font-size: 12px
    margin: 8px 0
  .login-form
    height: 100%
    width: 370px
    position: absolute
    right: 0
    top: 0
    background-color: #fff
    text-align: center
    padding: 20px
    .register
      width: 340px
      margin: 10px auto
      input
        background-color: $light-gray
        color: $med-gray
        border-width: 0
        height: 17px
        font-size: 12px
        width: 95%
        padding: 8px
        font-weight: 400
        border-radius: 4px
        display: inline-block
        margin: 5px auto
    .login-credentials
      width: 340px
      margin: 10px auto
      input
        background-color: $light-gray
        color: $med-gray
        border-width: 0
        height: 22px
        font-size: 15px
        width: 85%
        padding: 8px
        font-weight: 400
        border-radius: 4px
        display: inline-block
        margin: 6px auto

input#pinspiration_credential_name
  width: 43%
  margin-right: 10px

input#pinspiration_credential_username
  width: 43%

input#pinspiration_credential_password
  width: 43%
  margin-right: 10px

input#pinspiration_credential_password_confirmation
  width: 43%

.no-account
  margin: 10px auto 20px
  color: $med-dark-gray
