.messages
  div
    font-size: 15px
    width: 350px
    height: 15px
    position: fixed
    bottom: 8%
    left: 35%
    z-index: 999
    padding: 18px
    border: 1px solid $brand-color
    border-radius: 4px
    color: $brand-color
    background-color: rgba(255,246,200,0.9)
    text-align: center
