.messages
  div
    width: 340px
    height: 25px
    position: fixed
    top: 85%
    left: 33%
    right: 33%
    z-index: 999
    padding: 17px
    border-radius: 11px
    background-color: $med-light-gray
    color: $dark-gray
    font-weight: bold
    text-align: center