nav
  display: block
  position: absolute
  top: 0
  width: 100%
  margin: 11px 0
  padding-bottom: 15px
  border-bottom: 1px solid $light-gray
  .navbar
    ul
      display: inline
      margin-left: 25px
      li
        display: inline-block
        i
          font-size: 25px
          color: $med-light-gray
          padding: 6px 14px
        i:hover
          color: $med-gray
      i.fa-pinterest
        font-size: 27px
        margin-right: 15px
        color: $brand-color
      li.search
        display: inline-block
        width: 57%
        padding-right: 17px
        input
          background-color: $light-gray
          color: $med-light-gray
          border-width: 0
          padding: 8px
          width: 100%
          font-weight: 600
          font-size: 14px
          border-radius: 4px
      li a.log-out
        font-weight: 600
        color: $med-light-gray
        text-decoration: none
        margin-right: 15px
        :hover
          color: $med-dark-gray
