nav
  display: inline
  height: 150px

.navbar
  display: inline-block
  padding: 4px

.search 
  padding: 8px 15px
  background:rgba(50, 50, 50, 0.2)
  border: 0px solid #dbdbdb
  vertical-align: center
  width: 800px  
  input
    background-color: $light-gray
    color: $med-gray
    border-width: 0
    width: 236px
    padding: 8px
    font-weight: bold
    border-radius: 4px
    display: block
    margin: 10px auto

