$main-font: Helvetica Neue, Helvetica, Arial, sans-serif

body
  font-family: $main-font

.fa-pinterest
  color: $brand-color
  font-size: 44px

.fa-bandcamp
  color: $light-gray
  size: 44px

.fa-user
  color: $light-gray
  size: 44px

.fa-shopping-bag
  color: $light-gray
  size: 44px

.fa-commenting
  color: $light-gray
  size: 44px

.fa-search
  color: $light-gray
  size: 44px

.login
  i
    margin-bottom: 10px
  h2
    color: $dark-gray
    font-weight: bold

.search
  i 
    margin-bottom: 10px
