<%= render partial: 'shared/user' %>

<% @following.each do |f| %>
  <%= link_to registered_user_path(@user.username) do %>
    <section class="follower">
      <%= f.name %>
      <% if current_user == @user %>
        <%= link_to "Unfollow", registered_users_following_destroy_path(current_user.username, f.username, :option => 'from_following_index_page'), method: :delete %>
      <% end %>
    </section>
  <% end %>
<% end %>
