<nav>
  <i class="fa fa-pinterest" aria-hidden="true"></i>
  <% if current_admin %>
    <%= link_to "Log out", admin_logout_path, method: :delete %>
  <% end %>
  <% if current_user %>
    <i class='fa fa-user' aria-hidden='true'><%= link_to "Log out", logout_path, method: :delete %></i>
  <% end %>
  <i class="fa fa-bandcamp" aria-hidden="true"></i>
  <i class="fa fa-user" aria-hidden="true"></i>
  <i class="fa fa-shopping-bag" aria-hidden="true"></i>
</nav>
