<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="757656209931-n8t7v63pfl907i02rt96brrfi4nil4ak.apps.googleusercontent.com">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
